<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img
          *ngIf="currentRoom.image"
          src="{{ currentRoom.image }}"
          alt="..."
        />
        <img
          *ngIf="!currentRoom.image"
          src="assets/images/chatroom/chatRoom.jpg"
          alt="..."
        />
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0">Room Name : {{ currentRoom.roomName }}</h3>
            <span class="text-primary">Owner: {{ currentRoom.ownerId }} </span>
          </div>
          <ul class="list-unstyled mb-4">
            <li class="mb-3">uniqueKey: {{ currentRoom.uniqueKey }}</li>
            <li class="mb-3">max bad words : {{ currentRoom.MaxBadWords }}</li>
            <li class="mb-3">room capacity : {{ currentRoom.capacity }}</li>
            <li class="mb-3">
              average responding time :
              {{ currentRoom.averageResponseTime }} seconds
            </li>
          </ul>
          <ul class="social-icon-style2 ps-0">
            <li>
              <span
                *ngIf="currentRoom.visible"
                class="mb-1 me-2 badge bg-success"
                >public</span
              >
              <span
                *ngIf="!currentRoom.visible"
                class="mb-1 me-2 badge bg-danger"
                >private</span
              >
            </li>
            <li>
              <span
                *ngIf="currentRoom.status == 'UP'"
                class="mb-1 me-2 badge bg-success"
                >open</span
              >
              <span
                *ngIf="currentRoom.status == 'DOWN'"
                class="mb-1 me-2 badge bg-danger"
                >closed</span
              >
            </li>
            <li>
              <span
                *ngIf="checkChatRoomFull(); else pacesAvailable"
                class="mb-1 me-2 badge bg-danger"
                >full</span
              ><ng-template #pacesAvailable
                ><span class="mb-1 me-2 badge bg-info"
                  >places available</span
                ></ng-template
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <app-room-user-list></app-room-user-list>
        <app-stats></app-stats>
      </div>
    </div>
  </div>
</div>
