<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData2" 
        [labels]="lineChartLabels2" 
        [options]="lineChartOptions2"
        [colors]="lineChartColors2" 
        [legend]="lineChartLegend2" 
        [chartType]="lineChartType2" 
        [plugins]="lineChartPlugins2">
    </canvas>
</div>