<div class="side-area">
  <ul class="side-links">
    <li>
      <a class="active" href="#" title=""
        ><i class="icofont-video-cam"></i> Live Stream</a
      >
    </li>
    <li>
      <a href="#" title=""><i class="icofont-calendar"></i> Manage</a>
    </li>
    <li>
      <a href="#" title=""><i class="icofont-camera-alt"></i> Webcam</a>
    </li>
    <li>
      <a href="#" title=""><i class="icofont-gears"></i> Settings</a>
    </li>
    <li>
      <a href="#" title=""><i class="icofont-comment"></i> Feedback</a>
    </li>
  </ul>
</div>
