
    <div class="main-block">
      <div class="center-part">



      </div>
      <form action="" enctype="multipart/form-data" (ngSubmit)="addCollaboration()"#f="ngForm">
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input [(ngModel)]="collaboration.name" class="fname" type="text" name="name" placeholder=" name" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="collaboration.email"type="text" name="name" placeholder="Email" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="collaboration.phone" type="text" name="name" placeholder="Phone number" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="collaboration.description"type="password" name="name" placeholder="description" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="collaboration.date"type="date" name="name" placeholder="dater" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="collaboration.town"type="String" name="name" placeholder="Town" [ngModelOptions]="{standalone: true}">
          <input (change)="onFileSelected($event)"
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
              />


        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a href="https://www.w3docs.com/privacy-policy">Privacy Poalicy for W3Docs.</a></span>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

