<div class="main-wraper">
  <div class="chatroom-title">
    <i>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-tv"
      >
        <rect x="2" y="7" width="20" height="15" rx="2" ry="2"></rect>
        <polyline points="17 2 12 7 7 2"></polyline></svg
    ></i>
    <span>Chat Rooms <em>Video chat with friends</em></span>
    <a class="create-newroom" href="#" title="">Create Room</a>
  </div>
  <owl-carousel-o class="chat-rooms" [options]="customOptions">
    <ng-container *ngFor="let room of chatRooms">
      <ng-template
        style="margin-left: 20px"
        carouselSlide
        [id]="room.id.toString()"
      >
        <li>
          <div class="room-avatar">
            <img *ngIf="room.image" src="{{ room.image }}" alt="" />
            <img
              *ngIf="!room.image"
              src="assets/images/chatroom/chatRoom.jpg"
              alt=""
            />
            <span class="status online"></span>
          </div>
          <span>{{ room.roomName }}</span>
          <a routerLink="/room-based" class="join" href="#" title="Join Room"
            >Join</a
          >
          <a class="say-hi send-mesg" href="#" title="Send Message"
            ><i class="icofont-facebook-messenger"></i
          ></a>
        </li>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<!-- chat rooms -->
