<div class="main-wraper">
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img alt="" src="assets/images/resources/sponsor.png">
            </figure>
            <div class="friend-name">
                <div class="more">
                    <div class="more-post-optns">
                        <i class="">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></i>
                        <ul>
                            <li>
                                <i class="icofont-pen-alt-1"></i>Edit Post
                                <span>Edit This Post within a Hour</span>
                            </li>
                            <li>
                                <i class="icofont-ban"></i>Hide Post
                                <span>Hide This Post</span>
                            </li>
                            <li>
                                <i class="icofont-ui-delete"></i>Delete Post
                                <span>If inappropriate Post By Mistake</span>
                            </li>
                            <li>
                                <i class="icofont-flag"></i>Report
                                <span>Inappropriate content</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <ins><a title="" href="time-line.html">Sponsors Ads</a></ins>
                <span><i class="icofont-globe"></i> Sponsor</span>
            </div>
            <div class="post-meta">
                <ul class="sponsored-caro">
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod1.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Aloevera Juice 1 liter</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod5.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Beauty Cosmetics</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod4.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Overtime For Men</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod3.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Redish Baby Items</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod2.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Potato Baby Fider</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="assets/images/resources/sponsor-prod3.jpg" alt=""></figure>
                        <div class="sponsor-prod-name">
                            <a href="#" title="">Baby items fider</a>
                            <span>$24</span>
                        </div>
                        <a href="#" title="" class="shop-btn">Shop Now</a>
                        <div class="share-info">
                                <span>50 shares</span>
                                <span>20k Likes</span>
                            </div>
                        <div class="stat-tools">
                            <div class="box">
                              <div class="Like"><a class="Like__link"><i class="icofont-like"></i> Like</a>
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="box">
                                <div class="Emojis">
                                  <div class="Emoji Emoji--like">
                                    <div class="icon icon--like"></div>
                                  </div>
                                  <div class="Emoji Emoji--love">
                                    <div class="icon icon--heart"></div>
                                  </div>
                                </div>
                              </div>
                            <a title="" href="#" class="share-to"><i class="icofont-share-alt"></i> Share</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- advertisment carousel -->
