<app-header></app-header>
<main class="content">
  <div class="container p-0">
    <h1 class="h3 mb-3">Messages</h1>

    <div style="height: auto" class="card">
      <div style="height: 550px" class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">
          <div class="px-4 d-none d-md-block">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <input
                  [(ngModel)]="searchFilter"
                  type="text"
                  class="form-control my-3"
                  placeholder="Search..."
                />
              </div>
            </div>
          </div>

          <a
            (click)="handleOnClick(channel)"
            class="list-group-item list-group-item-action border-0"
            *ngFor="let channel of chatRooms | roomSearchFilter: searchFilter"
          >
            <div class="badge bg-success float-right">5</div>
            <div class="d-flex align-items-start">
              <img
                *ngIf="channel.image"
                src="{{ channel.image }}"
                class="rounded-circle mr-1"
                alt="Vanessa Tucker"
                width="40"
                height="40"
              />
              <img
                *ngIf="!channel.image"
                src="assets/images/chatroom/chatRoom.jpg"
                class="rounded-circle mr-1"
                alt="Vanessa Tucker"
                width="40"
                height="40"
              />
              <div class="flex-grow-1 ml-3">
                {{ channel.roomName }}
                <div class="small">
                  <span class="fas fa-circle chat-online"></span> Online
                </div>
              </div>
            </div>
          </a>

          <hr class="d-block d-lg-none mt-1 mb-0" />
        </div>
        <div class="col-12 col-lg-7 col-xl-9">
          <app-chat-box
            [chatroom]="clickedRoom"
            [FullMessages]="FullMessages"
            [data]="data"
          ></app-chat-box>
        </div>
        <div class="col-12 col-lg-5 col-xl-3 border-right"></div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
