.welcome-box {
  display: flex;
  text-align: center;
  position: absolute;
  z-index: 1;
  flex-direction: column;
}

.btn-img {
  width: auto;
  height: 60px;
  padding: 0.6rem 0;
  margin-right: 10px;
}

.social-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: darkgrey;
  color: #fff;
  cursor: not-allowed;
}
