

<input type="text" #myInput [(ngModel)]="search" (input)="Search()" class="form-control" placeholder="Search …">
<div class="row">
    <!-- column -->

    <div class="col-lg-3 col-md-6" *ngFor="let b of listPosts |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">
      <!-- Card -->
      <!-- ---------------------
                        start Card title
                    ---------------- -->
      <div class="card">
        <img
          class="card-img-top img-responsive"
          [src]='b.file'
          style="width: 235px; height: 200px;"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">{{b.subject}}</h4>
          <p class="card-text">
            {{b.content.substring(0,85)}}
          </p>
          
          <span class="mb-1 me-2 badge rounded-pill bg-dark" *ngFor="let t of b.tags" (click)="getBlogByTag(t)">{{t}}</span>
          
          <div class="btn-wrapper text-center">
            <button (click)="deletePost(b.id)" class="btn btn-danger remove-btn">Delete</button>
           
            <button (click)="clearPost(b.id)" class="btn btn-primary">Clear</button>  
          </div>
        </div>
      </div>
      <!-- ---------------------
                        end Card title
                    ---------------- -->
      <!-- Card -->
    </div>
   <mat-paginator #paginator [length]="length"
   [pageSize]="pageSize"
   [pageSizeOptions]="[5,10,25,100]"
   (page)="pageEvent=$event"></mat-paginator>
    
  </div>