
<div class="main-wraper">
    <span class="new-title">Create New Post</span>
    <div class="new-post">
        <form method="post">
            <i class="icofont-pen-alt-1"></i>
            <input type="text" placeholder="Create New Post">
            
        </form>
        <ul class="upload-media">
            <li>
                <a href="#" title="">
                    <i><img src="assets/images/image.png" alt=""></i>
                    <span>Photo/Video</span>
                </a>	
            </li>
            <li>
                <a href="#" title="">
                    <i><img src="assets/images/activity.png" alt=""></i>
                    <span>Feeling/Activity</span>
                </a>	
            </li>
            <li>
                <a href="live-stream.html" title="">
                    <i><img src="assets/images/live-stream.png" alt=""></i>
                    <span>Live Stream</span>
                </a>	
            </li>
        </ul>
    </div>
</div><!-- create new post -->
<div class="post-new-popup">
    <div class="popup" style="width: 800px;">
        <span class="popup-closed"><i class="icofont-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5><i>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></i>Create New Post</h5>
            </div>
            <div class="post-new">
                <div class="post-newmeta">
                    
                    
                        <div class="fallback">
                            <input name="file" type="file" id="file" (change)="selectFile($event)"/>
                        </div>
                        <div *ngIf="currentFileUpload" class="progress mt-2">
                            <div
                              class="progress-bar progress-bar-info"
                              role="progressbar"
                              attr.aria-valuenow="{{ percentage }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: percentage + '%' }"
                            >
                              {{ percentage }}%
                            </div>
                        </div>
                </div>	
                <form method="post" class="c-form">
                    <input id="subject" [(ngModel)]="blog.subject" [attr.maxlength]="200" name="subject"  placeholder="Subject?">

                    <textarea id="content" [(ngModel)]="blog.content" name="content"  placeholder="What's On Your Mind?"></textarea>
                    <mat-form-field class="example-chip-list" appearance="fill">
                        <mat-label>Tags</mat-label>
                        <mat-chip-list #chipList aria-label="Tag selection">
                          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                            {{tag}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                          <input placeholder="New tag..."
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                      </mat-form-field>
                    
                    
                    
                    <button type="submit" class="main-btn" (click)= "addBlog() ">Publish</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- New post popup -->
