<div class="container">
  <div  class="card" *ngFor="let item of c">
    <div class="card-header">
      <img *ngIf="item.imagesCollab"
       [src]=item.imagesCollab.name
      />
    </div>
    <div class="card-body">
      <span class="tag tag-teal">{{ item.name }}</span>
      <h4>{{ item.description }}</h4>
      <p>An exploration into the truck's polarising design</p>
      <div class="user">
        <img
          src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
          alt="user"
        />
        <div class="user-info">
          <h5>{{ item.email }}</h5>
          <small>{{ item.date | date:'M/d/yy, h:mm a' }}</small>
        </div>

      </div>
    </div>
  </div>

</div>
